<mat-toolbar>
  <span class="logo-box">
    <a [routerLink]="['/']" href="">
      <img src="../../assets/SpaceX-Logo.svg" alt="" />
    </a>
  </span>
  <mat-form-field>
    <mat-label>Search Mission</mat-label>
    <input matInput placeholder="Search Mission" #searchInput (keyup)="onMissionSearch(searchInput)">
  </mat-form-field>
  <div class="theme-picker">
    <mat-icon>brightness_1</mat-icon>
    <mat-slide-toggle class="example-margin" [checked]="true" (change)="onChangeTheme()">
    </mat-slide-toggle>
    <mat-icon>brightness_2</mat-icon>
  </div>
</mat-toolbar>
