<mat-grid-list [cols]="columns" gutterSize="20px" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let launch of launchesList">
    <div class="card-box">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Name: {{launch.missionName}}</mat-card-title>
          <mat-card-subtitle>Launch Data: {{launch.launchDate}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="launch.missionImagePath" alt="Mission Image">
        <mat-card-content>
          <p>
            Launch details: {{launch.launchDetails}}
          </p>
          <p>Years: {{launch.launchYear}}</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <a mat-raised-button color="primary" [routerLink]="['launch/details', launch.id]">Read more</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="launchesList.length === 0 && !isLoading" class="no-result-message">
  <p>No results found</p>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<button *ngIf="!allLoaded && !searchMode" mat-raised-button color="accent" class="btn-load" (click)="onLoadClicked()">
  Load More
</button>
